body {
    font-family: "Verdana", "arial", "helvetica", "sans-serif";    
}

body table.readpost, body table.readpost .main {
    color: #000;
    background: #fff;
}

body table.main, body table.mainouter {
    background: #fff;
}

td, td.comment {
    font-size: 10pt;
}
